@import url("common.css");
 @font-face {font-family: "iconfont";
          src: url('../icon/iconfont.eot'); /* IE9*/
          src: url('../icon/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../icon/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
.icon{
	font-family:iconfont;
}
html{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background-image:url(../img/changge.jpg);
	background-position:center center;
}
body{
	width:100%;
	height:100%;
	overflow:auto;
	background:rgba(47,71,73,0.8);
}
/*首页-歌单页*/
main:first-child{
	height:1.76rem;
	width:100%;
}
header{
	width:100%;
	height:auto;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
nav.one{
	width:100%;
	height:0.88rem;
	line-height:0.88rem;
	padding:0 0.24rem;
	background-image:linear-gradient(to right,#081213,#183135,#223B3F,#183135,#081213);
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
	
}
nav.one span{
	font-size:0.5rem;
	color:#FFFFFD;
}
nav.one a{
	color:#FFFFFD;
	font-size:0.4rem;
}
nav.two{
	width:100%;
	height:auto;
	line-height:0.88rem;
	padding:0 0.24rem;
	background-image:linear-gradient(to right,#101C1C,#193538,#193538,#2B4546,#193538,#193538,#101C1C);
	box-sizing:border-box;
	display:flex;
	justify-content:space-around;
}
nav.two > a{
	color:#FFFFFD;
	font-size:0.3rem;
}
nav.two a:first-child{
	color:#12827E;
	font-weight:bold;
	font-size:0.35rem;
}
/*列表*/
main{
	width:100%;
	height:auto;
	padding:0 0.24rem;
	box-sizing:border-box;
	
}
main > ul.list > li > a{
	display:block;
	width:100%;
	height:1rem;
	padding:0.2rem 0;
	border-bottom:1px solid #223B39;
}
main > ul.list > li > a > span{
	font-size:0.6rem;
	display:block;
	margin:0.15rem 0.2rem 0 0.2rem;
	color:#12827E;
	float:left;
}
main > ul.list > li > a > p:first-of-type{
	width:80%;
	margin:0.2rem 0 0rem 0.1rem;
	color:#D1DAD8;
	font-size:0.35rem;
	float:left;
}
main > ul.list > li > a > p:last-of-type{
	margin-left:0.1rem;
	font-size:0.3rem;
	color:#D1DAD8;
	float:left;
}
main > ul.list > li > a > p:first-of-type::after{
	content:">";
	display:block;
	height:100%;
	font-family:宋体;
	width:auto;
	float:right;
}
/*底部*/
footer{
	width:100%;
	height:0.98rem;
	padding:0 0.24rem;
	background-image:linear-gradient(to right,#203936,#506C6C,#506C6C,#506C6C,#203936);
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
	position:absolute;
	bottom:0;
	left:0;
}
footer span{
	display:block;
	height:100%;
	line-height:0.98rem;
	color:#DBE3E3;
	font-size:0.4rem;
}
footer > a:first-child{
	height:100%;
	display:block;
	width:3rem;
}
footer > a > div{
	width:1rem;
	height:1rem;
	border-radius:50%;
	background-image:url(../img/geshou.jpg);
	background-position:center center;
	background-size:cover;
	position:absolute;
	bottom:0.2rem;
	left:0.2rem;
}
footer > a:first-child > p{
	padding-left:1.2rem;
	width:1rem;
	height:30%;
	color:#DBE3E3;
}
footer > a:first-child > p:first-of-type{
	font-size:0.3rem;
	margin:0.15rem 0 0.1rem;
}